.about-us-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.about-us-description {
  text-align: center;
  font-size: 1.4rem;
  color: #4F6F52;
  margin-bottom: 20px;
}

.about-us-content {
  font-size: 1rem;
  line-height: 1.5;
  color: #2C3333;
  margin-bottom: 15px;
}
